    <%= fields_for @ticket do |f| %>
      <p>
        <%= f.fields_for :assets do |asset| %>
          <p>
            <%= asset.label :asset, "File ##{number += 1}" %><br />
            <%= asset.file_field :asset %>
          </p>
        <% end %>
      </p>
    <% end %>
